body{
    background-image: url("../kepek/hatterkep.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
#papiros{
    background-image: url("../kepek/papirlap.png");
    background-repeat: no-repeat;
    margin: auto;
    width: 400px;
    height: 800px;
    text-align: center;
    padding: 20px;
    font-size: large;
}
.papircim{
    font-family: 'Rye' ;
    font-weight: bolder;
}
#text{
    height: 500px;
    overflow: hidden;
}
